# 1. Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "Z".
- Export the content into a CSV file called ```md_Z.csv```.

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z"
response = requests.get(url)
response.status_code

200

In [3]:
type(response)

requests.models.Response

In [4]:
soup = BeautifulSoup(response.text,"html.parser")

In [5]:
df_list =pd.read_html(response.text)
df_list

[                                  Physician Last Name  \
 0                                             Zaccheo
 1                                           Zachariah
 2                                              Zachel
 3                                              Zackin
 4                                              Zackin
 5                                              Zackin
 6                                               Zadeh
 7                                               Zafar
 8                                               Zafar
 9                                                Zahl
 10                                             Zahler
 11                                              Zaino
 12                                                Zak
 13                                               Zaki
 14                                              Zales
 15                                           Zalmanov
 16                                           Zalmanov
 17                                              Zaman
 18                                              Zaman
 19                                              Zamek
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Jerald                     D
 1                                             Abraham                   NaN
 2                                            Gretchen                   NaN
 3                                               Henry                     J
 4                                               Henry                     J
 5                                               Henry                     J
 6                                              Mehran                   NaN
 7                                               Kamal                   NaN
 8                                               Syeda                   NaN
 9                                             Kenneth                   NaN
 10                                             Gideon                   NaN
 11                                             Edward                   NaN
 12                                               John                   NaN
 13                                               Omar                     S
 14                                            Michael                   NaN
 15                                            Mikhail            Isaakovich
 16                                            Mikhail                     I
 17                                              Fasih                     Q
 18                                               Shah      Mohammad Maniruz
 19                                             Albert                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         134842.0           MD     12/20/2001   12/23/2001         1946.0
 1         137458.0           MD     09/15/2004   09/08/2004         1950.0
 2          20699.0           PA     10/13/2017   10/06/2017         1952.0
 3         101457.0           MD     03/28/2002   03/09/2005         1941.0
 4         101457.0           MD     03/16/2005   03/09/2005         1941.0
 5         101457.0           MD     02/21/1990   03/09/2005         1941.0
 6           3399.0           PA     07/21/2010   09/06/2013         1961.0
 7            113.0           SA     08/04/2016   08/08/2016         1968.0
 8         158264.0           MD     10/16/2007   11/06/2007         1936.0
 9         151413.0           MD     04/18/2008   04/11/2008         1956.0
 10          6578.0           PA     08/04/2004   07/29/2004         1964.0
 11         42864.0           MD     12/12/1997          NaN            NaN
 12        170914.0           MD     04/27/2007   04/20/2007         1953.0
 13        114194.0           MD     10/13/1994          NaN            NaN
 14         95317.0           MD     07/19/1994          NaN            NaN
 15        158429.0           MD     11/08/2005   11/02/2005         1946.0
 16        158429.0           MD     03/06/2013   02/27/2013         1946.0
 17        114131.0           MD     11/24/1994          NaN            NaN
 18        141193.0           MD     09/27/2021   10/29/2021         1945.0
 19        181578.0           MD     11/20/2013   12/26/2013         1961.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0              Zaccheo               Jerald                     D
 1            Zachariah              Abraham                   NaN
 2               Zachel             Gretchen                   NaN
 3               Zackin                Henry                     J
 4               Zackin                Henry                     J
 5               Zackin                Henry                     J
 6                Zadeh               Mehran                   NaN
 7                Zafar                Kamal                   NaN
 8                Zafar                Syeda                   NaN
 9                 Zahl              Kenneth                   NaN
 10              Zahler               Gideon                   NaN
 11               Zaino               Edward                   NaN
 12                 Zak                 John                   NaN
 13                Zaki                 Omar                     S
 14               Zales              Michael                   NaN
 15            Zalmanov              Mikhail            Isaakovich
 16            Zalmanov              Mikhail                     I
 17               Zaman                Fasih                     Q
 18               Zaman                 Shah      Mohammad Maniruz
 19               Zamek               Albert                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           134842           MD     12/20/2001   12/23/2001         1946.0
 1           137458           MD     09/15/2004   09/08/2004         1950.0
 2            20699           PA     10/13/2017   10/06/2017         1952.0
 3           101457           MD     03/28/2002   03/09/2005         1941.0
 4           101457           MD     03/16/2005   03/09/2005         1941.0
 5           101457           MD     02/21/1990   03/09/2005         1941.0
 6             3399           PA     07/21/2010   09/06/2013         1961.0
 7              113           SA     08/04/2016   08/08/2016         1968.0
 8           158264           MD     10/16/2007   11/06/2007         1936.0
 9           151413           MD     04/18/2008   04/11/2008         1956.0
 10            6578           PA     08/04/2004   07/29/2004         1964.0
 11           42864           MD     12/12/1997          NaN            NaN
 12          170914           MD     04/27/2007   04/20/2007         1953.0
 13          114194           MD     10/13/1994          NaN            NaN
 14           95317           MD     07/19/1994          NaN            NaN
 15          158429           MD     11/08/2005   11/02/2005         1946.0
 16          158429           MD     03/06/2013   02/27/2013         1946.0
 17          114131           MD     11/24/1994          NaN            NaN
 18          141193           MD     09/27/2021   10/29/2021         1945.0
 19          181578           MD     11/20/2013   12/26/2013         1961.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [6]:
doctors_df = df_list[1]
doctors_df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457,MD,03/28/2002,03/09/2005,1941.0
4,Zackin,Henry,J,101457,MD,03/16/2005,03/09/2005,1941.0
5,Zackin,Henry,J,101457,MD,02/21/1990,03/09/2005,1941.0
6,Zadeh,Mehran,NaN,3399,PA,07/21/2010,09/06/2013,1961.0
7,Zafar,Kamal,NaN,113,SA,08/04/2016,08/08/2016,1968.0
8,Zafar,Syeda,NaN,158264,MD,10/16/2007,11/06/2007,1936.0
9,Zahl,Kenneth,NaN,151413,MD,04/18/2008,04/11/2008,1956.0
10,Zahler,Gideon,NaN,6578,PA,08/04/2004,07/29/2004,1964.0
11,Zaino,Edward,NaN,42864,MD,12/12/1997,NaN,NaN
12,Zak,John,NaN,170914,MD,04/27/2007,04/20/2007,1953.0
13,Zaki,Omar,S,114194,MD,10/13/1994,NaN,NaN
14,Zales,Michael,NaN,95317,MD,07/19/1994,NaN,NaN
15,Zalmanov,Mikhail,Isaakovich,158429,MD,11/08/2005,11/02/2005,1946.0
16,Zalmanov,Mikhail,I,158429,MD,03/06/2013,02/27/2013,1946.0
17,Zaman,Fasih,Q,114131,MD,11/24/1994,NaN,NaN
18,Zaman,Shah,Mohammad Maniruz,141193,MD,09/27/2021,10/29/2021,1945.0
19,Zamek,Albert,NaN,181578,MD,11/20/2013,12/26/2013,1961.0

In [7]:
base_url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}"

In [9]:
for url_number in range (1,6):
    print(base_url.format(url_number))

https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5

In [10]:
all_urls = []
for url_number in range (1,6):
    all_urls.append(base_url.format(url_number))

all_urls

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5']

In [17]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}"

In [19]:
total_pages = 6 
mylinks = [url.format(number) for number in range (1, total_pages)]
mylinks

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5']

In [24]:
from random import randrange
import time

In [25]:
all_df = []
busted_links = []

counter = 1
for link in mylinks:
    print(f"Scraping {counter} of {len(mylinks)}")
    counter += 1
    response = requests.get(link)
    if response.status_code == 200:
        df = pd.read_html(response.text)
        all_df.append(df[0])
    else:
        print(f"{link} returned a busted link with {response.code_status}")
    snoozer = randrange(5,12)
    print(f"snoozing for {snoozer} seconds before next scrape")
    time.sleep(snoozer)
    
print("All done....")

Scraping 1 of 5
snoozing for 10 seconds before next scrape
Scraping 2 of 5
snoozing for 9 seconds before next scrape
Scraping 3 of 5
snoozing for 5 seconds before next scrape
Scraping 4 of 5
snoozing for 8 seconds before next scrape
Scraping 5 of 5
snoozing for 9 seconds before next scrape
All done....

In [26]:
all_df

[                                  Physician Last Name  \
 0                                             Zaccheo
 1                                           Zachariah
 2                                              Zachel
 3                                              Zackin
 4                                              Zackin
 5                                              Zackin
 6                                               Zadeh
 7                                               Zafar
 8                                               Zafar
 9                                                Zahl
 10                                             Zahler
 11                                              Zaino
 12                                                Zak
 13                                               Zaki
 14                                              Zales
 15                                           Zalmanov
 16                                           Zalmanov
 17                                              Zaman
 18                                              Zaman
 19                                              Zamek
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Jerald                     D
 1                                             Abraham                   NaN
 2                                            Gretchen                   NaN
 3                                               Henry                     J
 4                                               Henry                     J
 5                                               Henry                     J
 6                                              Mehran                   NaN
 7                                               Kamal                   NaN
 8                                               Syeda                   NaN
 9                                             Kenneth                   NaN
 10                                             Gideon                   NaN
 11                                             Edward                   NaN
 12                                               John                   NaN
 13                                               Omar                     S
 14                                            Michael                   NaN
 15                                            Mikhail            Isaakovich
 16                                            Mikhail                     I
 17                                              Fasih                     Q
 18                                               Shah      Mohammad Maniruz
 19                                             Albert                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         134842.0           MD     12/20/2001   12/23/2001         1946.0
 1         137458.0           MD     09/15/2004   09/08/2004         1950.0
 2          20699.0           PA     10/13/2017   10/06/2017         1952.0
 3         101457.0           MD     03/28/2002   03/09/2005         1941.0
 4         101457.0           MD     03/16/2005   03/09/2005         1941.0
 5         101457.0           MD     02/21/1990   03/09/2005         1941.0
 6           3399.0           PA     07/21/2010   09/06/2013         1961.0
 7            113.0           SA     08/04/2016   08/08/2016         1968.0
 8         158264.0           MD     10/16/2007   11/06/2007         1936.0
 9         151413.0           MD     04/18/2008   04/11/2008         1956.0
 10          6578.0           PA     08/04/2004   07/29/2004         1964.0
 11         42864.0           MD     12/12/1997          NaN            NaN
 12        170914.0           MD     04/27/2007   04/20/2007         1953.0
 13        114194.0           MD     10/13/1994          NaN            NaN
 14         95317.0           MD     07/19/1994          NaN            NaN
 15        158429.0           MD     11/08/2005   11/02/2005         1946.0
 16        158429.0           MD     03/06/2013   02/27/2013         1946.0
 17        114131.0           MD     11/24/1994          NaN            NaN
 18        141193.0           MD     09/27/2021   10/29/2021         1945.0
 19        181578.0           MD     11/20/2013   12/26/2013         1961.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
                                   Physician Last Name  \
 0                                            Zamstein
 1                                              Zamzam
 2                                           Zaninelli
 3                                              Zarate
 4                                              Zarate
 5                                              Zarate
 6                                           Zarbakhsh
 7                                             Zarcone
 8                                             Zaresky
 9                                            Zaretsky
 10                                          Zargaroff
 11                                           Zarkadas
 12                                             Zarkin
 13                                            Zarnoch
 14                                          Zavarelli
 15                                            Zawahir
 16                                           Zawislak
 17                                              Zedek
 18                                         Zegarrundo
 19                                             Zegeye
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                               Jacob                   NaN
 1                                               Salih                   NaN
 2                                               Rocco                   NaN
 3                                               Jesus                     M
 4                                               Jesus                     M
 5                                               Jesus                     M
 6                                              Samira                   NaN
 7                                                John                   NaN
 8                                             Stephen                   NaN
 9                                                 Jay                     R
 10                                              David                    D.
 11                                       Konstantinos                   NaN
 12                                              Allan                   NaN
 13                                            Chester                     W
 14                                           Danielle                   Ann
 15                                        Meeyapillai                     K
 16                                             Walter                     J
 17                                              Yaron                   NaN
 18                                            Rolando                   NaN
 19                                              Yonas                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         136715.0           MD     04/26/2005   04/19/2005         1951.0
 1         113897.0           MD     02/07/1995          NaN            NaN
 2         183941.0           MD     05/03/2017   04/26/2017         1953.0
 3         144321.0           MD     12/08/2006   12/01/2006         1947.0
 4         144321.0           MD     04/03/2003   04/04/2003         1947.0
 5         144321.0           MD     01/27/2006   01/20/2006         1947.0
 6          14763.0           PA     12/13/2019   12/06/2019         1981.0
 7         201767.0           MD     02/09/2007   02/05/2007         1969.0
 8         115550.0           MD     11/30/1993          NaN            NaN
 9         179607.0           MD     03/11/2013   04/10/2017         1957.0
 10        158257.0           MD     11/13/2019   11/06/2019         1943.0
 11        240460.0           MD     06/22/2022   06/17/2022         1973.0
 12         95976.0           MD     02/03/2000          NaN         1938.0
 13        127600.0           MD     10/11/2005   10/11/2005         1945.0
 14          8175.0           PA     06/13/2022   06/06/2022         1979.0
 15        117999.0           MD     09/05/2006   10/31/2006         1939.0
 16        194570.0           MD     06/06/2016   06/06/2016         1954.0
 17        180142.0           MD     11/15/2019   11/08/2019         1961.0
 18        125982.0           MD     11/19/2010   11/17/2010         1937.0
 19        152635.0           MD     06/29/2017   07/27/2017         1952.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
                                   Physician Last Name  \
 0                                              Zegeye
 1                                                 Zeh
 2                                              Zehner
 3                                             Zeifman
 4                                              Zelano
 5                                               Zelig
 6                                              Zelman
 7                                              Zervos
 8                                              Zetlin
 9                                                Zhan
 10                                              Zhang
 11                                               Zhao
 12                                               Zhao
 13                                             Zharov
 14                                         Zhitlovsky
 15                                         Zhitlovsky
 16                                              Zhong
 17                                                Zhu
 18                                                Zhu
 19                                            Ziegler
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                               Yonas                   NaN
 1                                                 Kim                    M.
 2                                             William                  John
 3                                              Claude               William
 4                                           Salvatore                   NaN
 5                                                Irma                   NaN
 6                                             Russell                     H
 7                                           Gerasimos                     D
 8                                           Valentine                   NaN
 9                                                  Su                   NaN
 10                                             Yuqing                   NaN
 11                                            Mengjia                   NaN
 12                                             Weiguo                   NaN
 13                                           Eleonora                   NaN
 14                                             German                   NaN
 15                                             German                   NaN
 16                                           Chizheng                   NaN
 17                                               Mary                     M
 18                                               Ming                 Zhong
 19                                               Ross                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         152635.0           MD     12/15/2021   12/10/2021         1952.0
 1         166393.0           MD     04/12/2019   04/05/2019         1956.0
 2         181937.0           MD     06/19/2008   06/13/2008         1956.0
 3         186399.0           MD     06/15/2005   06/08/2005         1958.0
 4         124660.0           MD     08/17/1999          NaN         1947.0
 5         121287.0           MD     05/11/2010   05/12/2010         1937.0
 6         148542.0           MD     08/27/1996          NaN            NaN
 7         176399.0           MD     03/08/2012   03/01/2012         1955.0
 8          47744.0           MD     11/20/1995          NaN            NaN
 9         257677.0           MD     11/07/2014   02/23/2017         1974.0
 10        260295.0           MD     02/21/2017   02/14/2017         1959.0
 11        200239.0           MD     01/22/2016   01/15/2016         1954.0
 12        256188.0           MD     07/27/2018   07/20/2018         1956.0
 13        191209.0           MD     02/18/2003   02/11/2003         1940.0
 14        163179.0           MD     08/16/1993          NaN            NaN
 15        163179.0           MD     06/23/1995          NaN            NaN
 16        201312.0           MD     08/20/2003   08/22/2003         1953.0
 17        186722.0           MD     04/05/2013   04/03/2013         1939.0
 18        200493.0           MD     03/28/2011   10/14/2014         1949.0
 19        151632.0           MD     11/10/2015   11/04/2015         1952.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
                                   Physician Last Name  \
 0                                             Ziering
 1                                               Ziets
 2                                           Zigelbaum
 3                                              Zikria
 4                                               Zimba
 5                                           Zimmerman
 6                                           Zimmerman
 7                                           Zimmerman
 8                                              Ziomek
 9                                              Zipper
 10                                               Zisk
 11                                             Zisman
 12                                             Zizmor
 13                                              Zizza
 14                                               Zois
 15                                             Zubkin
 16                                             Zucker
 17                                          Zuckerman
 18                                        Zuerndorfer
 19                                              Zugec
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                             William                     H
 1                                              Robert                   NaN
 2                                             Sheldon                     D
 3                                              Bashir                     A
 4                                               Frank                   NaN
 5                                              Arnold                   NaN
 6                                              Daniel               Jeffrey
 7                                             Raymond                   NaN
 8                                                John                 Josef
 9                                             Jeffrey                     A
 10                                               Gary                   NaN
 11                                             Parvin                   NaN
 12                                           Jonathan                   NaN
 13                                              Frank                   NaN
 14                                             Christ                     L
 15                                              Allan                   NaN
 16                                             Arnold                Harris
 17                                             Steven               Jeffrey
 18                                             Gordon                     H
 19                                              Mirko                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0          80678.0           MD     11/05/2001   11/14/2001         1930.0
 1         177701.0           MD     11/27/1996          NaN            NaN
 2         142022.0           MD     09/14/1993          NaN            NaN
 3          91655.0           MD     08/17/2009   08/10/2009         1932.0
 4         197137.0           MD     09/16/2008   09/10/2008         1954.0
 5         141422.0           DO     11/01/2007   10/25/2007         1940.0
 6         154263.0           MD     09/30/2008   09/24/2008         1947.0
 7          96514.0           MD     01/17/2002   01/22/2002         1937.0
 8         166256.0           MD     09/05/2006   08/30/2006         1960.0
 9         174914.0           MD     02/15/2013   02/08/2013         1960.0
 10        103786.0           DO     09/02/2013   11/15/2016         1941.0
 11        106659.0           MD     11/12/1991   09/17/2002         1939.0
 12        106081.0           MD     05/11/2004   05/05/2004         1945.0
 13         97709.0           MD     07/23/1998          NaN         1928.0
 14        106437.0           MD     02/07/1995          NaN            NaN
 15        172265.0           MD     11/02/2005   10/27/2005         1955.0
 16         76934.0           MD     09/13/2000          NaN         1930.0
 17        154264.0           MD     08/04/2004   07/29/2004         1952.0
 18        159077.0           MD     10/08/1998          NaN         1956.0
 19        213710.0           MD     12/08/2020   12/01/2020         1960.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
                                  Physician Last Name  \
 0                                           Zulfacar
 1                                             Zuniga
 2                                             Zuttah
 3                                              Zweig
 4                               New Physician Search
 5  Physician Records \tvar css = ".visualping-con...

                                 Physician First Name Physician Middle Name  \
 0                                               Mary                   NaN
 1                                              Dario                   NaN
 2                                              Silas                     H
 3                                             Steven               Jeffrey

In [27]:
df = pd.concat(all_df, ignore_index = True)
df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842.0,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458.0,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699.0,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457.0,MD,03/28/2002,03/09/2005,1941.0
4,Zackin,Henry,J,101457.0,MD,03/16/2005,03/09/2005,1941.0
...,...,...,...,...,...,...,...,...
89,Zuniga,Dario,NaN,123324.0,MD,05/07/2002,05/07/2002,1941.0
90,Zuttah,Silas,H,153216.0,MD,01/22/2003,06/17/2003,1953.0
91,Zweig,Steven,Jeffrey,140242.0,MD,05/17/2006,05/10/2006,1949.0
92,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
base_url

'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}'

In [13]:
print(f"{base_url}.html")

https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}.html

In [14]:
fs_fl = []
for number in range (1,6):
    print(f"{base_url}{number}")
   
fs_fl

https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}1
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}2
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}3
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}4
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}5

[]

In [28]:

df.to_csv("md_z.csv", encoding = "UTF-8", index = False)

# 2. Conversion function
Write a function that takes string values like $12.24267, 10,201 and $12,501 and converts them into floating point numbers like 12.24, 10201.0 and 12501.0

Test it out on those 3 string values.

In [68]:
def decNumbers(num_1):
    final = float("{:2f}".format(num_1))
    print(final)

In [70]:
decNumbers(10_201)

10201.0